<!doctype html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/style.css">
	<meta charset="utf-8" />
	<title>Trip Planner</title>
</head>

<body>
    <h1>Discover a City</h1>
    <form action="/CityDetails" method="post">
        <b>City: <input type="text" name="city"></b><br><br>
        <input type="submit" value="Submit City">
        <input type="reset" value="Clear">
    </form>
    <hr>
    <form action="/" method="get" class="redirect">
        <input type="submit" value="Home" />
    </form>
</body>

</html>